.column {
  float: left;
  width: 33%;
    column-count: 3;
}

.column1 {
  float: left;
  width: 33%;
  background-color: green;
}

.column2 {
  float: left;
  width: 33%;
  background-color: red;
}

.column3 {
  float: left;
  width: 33%;

  background-color: yellow;
  align-content: center;
}

.row {
  width: 100%;
  align-items: center;
}

img {
  display: block;
  margin: auto;
}
