.column {
  float: left;
  width: 33%;
  border: 10px;
  padding: 10px;
  columns: 3;
}

.row {
  float: left;
}

img {
  float: left;
}

.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
